.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.link {
  color: #006633;;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color:#007449;
  text-decoration: underline;
}

.navbar {
  background-color: #006633 !important;
  color: white !important;
}

.nav-brand {
  color: white !important;
  font-weight: bold !important;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link:hover {
  background-color: #a6ffd2 !important;
  color: black !important;
}

.heading {
  color: #004422;
  font-weight: bold;
}

.sessions {
  padding-bottom: 15px;
}

.model {
  padding-bottom: 15px;
}

.paper {
  padding: 10px;
  border: 2px solid #D3D3D3;
  border-radius: 20px;
  margin-bottom: 20px;
}

h5 a {
  color:#006633;
  text-decoration: none;
}

h5 a:hover {
  color:#006633;
  text-decoration: underline;
}

h6 {
  font-style: italic;
  color: black;
}

.bold-text{
  font-weight: bold;
}

.date-time-location {
  color: #5a585d;
}

.table {
  margin-top: 1%;
  margin-bottom: 2% !important;
  padding-right: 2%;
}

.submit {
  background-color: #006633;;
  border: 2px solid #006633;;
  color: white;
  border-radius: 10px;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.submit:hover {
  background-color: white;
  border: 2px solid #006633;;
  color: #006633;;
}

.base-page {
  padding: 5%;
  color: black;
}

.App-link {
  color: #61dafb;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .base-page {
    margin-top: 2%;
  }
  .pipe {
    display: inline-block;
    margin: 10px 10px 0px 10px;
    border-left: 3px solid white;
    height: 25px;
    opacity: 0.5;
  }
}

/* Medium devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .base-page {
    margin-top: 7%;
  }
  .table {
    margin-bottom: 5% !important;
  }
  .pipe {
    border-left: none;
    border-top: 3px solid white;
    opacity: 0.5;
  }
}

/* Small devices (phones, ~400px and up) */
@media only screen and (max-width: 600px) {
  .base-page {
    margin-top: 15%;
  }
  .table {
    margin-bottom: 6% !important;
  }
  .pipe {
    border-left: none;
    border-top: 3px solid white;
    opacity: 0.5;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
